.timerCard {
  height: 5rem;
  width: 5rem;
  background: linear-gradient(45deg, #ac03ff, #00fff7);
  margin: 1rem !important;
  border-radius: 10px;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.count {
  font-weight: 800;
  font-size: 2rem;
  color: #fff;
}

.text {
  font-weight: 700;
  font-size: 0.9rem;
  color: rgb(192, 192, 192);
}
